input {
  focus-follows-mouse
    keyboard {
        xkb {
        }
    }

    touchpad {
        tap
        dwt
        accel-profile "adaptive"
        accel-speed 0.3
        natural-scroll
    }

    mouse {
    }
}

//output "eDP-1" {
//    mode "1920x1080@60.019"
//    scale 1.0
//    variable-refresh-rate
//}

prefer-no-csd

environment {
    QT_QPA_PLATFORM "wayland"
    DISPLAY null 
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    SDL_VIDEODRIVER "wayland"
    XDG_SESSION_TYPE "wayland"
    CLUTTER_BACKEND "wayland"
    XDG_CURRENT_DESKTOP "niri"
    }

layout {
    gaps 14
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 1.0; }
    focus-ring {
        off
        width 4
        active-color "#ebdbb2"
        inactive-color "#fcecc3"
    }
    border {
        //off
        width 3
        active-color "#ebdbb2"
        inactive-color "#c9b990"
 }
    struts {
        left 0
        right 0
        top 0
        bottom 2
    }
}

animations {
    //off
    slowdown 1.0

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
}

spawn-at-startup "eww" "open" "bar"
spawn-at-startup "kitty"

window-rule {
  geometry-corner-radius 7 
  clip-to-geometry true
}


binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Return { spawn "kitty"; }
    Mod+r { spawn "kickoff"; }
    Mod+Ctrl+L { spawn "hyprlock"; }
    Mod+Shift+X { spawn "eww" "open" "--toggle" "powermenu";}
    Mod+Shift+B { spawn "eww" "open" "--toggle" "bar";}
    Mod+c {spawn "chromium";}
    Mod+b {spawn "brave-nightly" "--enable-features=UseOzonePlatform" "--ozone-platform=wayland";}
    Mod+s {spawn "spotify" "--enable-features=UseOzonePlatform" "--ozone-platform=wayland";}
    XF86AudioRaiseVolume { spawn "eww-volume-change" "inc"; }
    XF86AudioLowerVolume { spawn "eww-volume-change"; }
    XF86AudioMute {spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle";}
    XF86MonBrightnessUp { spawn "eww-brightness-change" "inc";}
    Shift+XF86MonBrightnessUp { spawn "eww-brightness-change" "inc+";}
    XF86MonBrightnessDown { spawn "eww-brightness-change";}
    Shift+XF86MonBrightnessDown { spawn "eww-brightness-change" "dec+";}
    Mod+Q { close-window; }
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }
    Mod+Shift+L     { move-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }
    Mod+Shift+U         { move-column-to-workspace-down; }
    Mod+Shift+I         { move-column-to-workspace-up; }
    Mod+TouchpadScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+TouchpadScrollUp       cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+TouchpadScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+TouchpadScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+TouchpadScrollRight      { focus-column-right; }
    Mod+TouchpadScrollLeft       { focus-column-left; }
    Mod+Ctrl+TouchpadScrollRight { move-column-right; }
    Mod+Ctrl+TouchpadScrollLeft  { move-column-left; }
    Mod+Shift+TouchpadScrollDown      { focus-column-right; }
    Mod+Shift+TouchpadScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+TouchpadScrollDown { move-column-right; }
    Mod+Ctrl+Shift+TouchpadScrollUp   { move-column-left; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Mod+Shift+q { quit; }
    Mod+Shift+P { power-off-monitors; }
}

cursor {
    xcursor-size 24
  }
